/* 
 * Obrary specfic styling
 * 
 */


  .center {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto
      } 
  .download {
    border: 1px solid DarkGray;
    border-radius: 10px;
  }
